@import '../../styles/styles.scss';
.categoryBtns {
  display: flex;
  justify-content: space-between;
}

.filterCategories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 215px;
  margin-bottom: 50px;

  @include media-min(tablet) {
    width: 320px;
    gap: 12px;
  }

  @include media-min(desktop) {
    width: auto;
  }
}

.filterBtnCategories {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;

  @include media-min(tablet) {
    gap: 12px;
  }
}

.categoriesbtn {
  cursor: pointer;
  background-color: getColor('light-blue');
  border: none;
  border-radius: 40px;
  color: getColor('full-blue');
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  @include main-font(500, 14px, calc(19 / 14));
  height: 35px;
  transition: background-color 250ms ease;

  &:hover {
    background-color: #daeaf8;
  }

  &:global(.active) {
    background-color: getColor(full-blue);
    color: #fef9f9;
  }
}
