@import '../../styles/styles.scss';
.categoryBtns {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
  margin-right: auto;
  margin-left: auto;
  // gap:92px;
  // @include media-min(desktop) {
  //   gap: 403px;
  // }
}

.filterCategories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 210px;
  margin-bottom: 50px;
  @media screen and (min-width: 340px) {
    width: 300px;
  }
  @media screen and (min-width: 1200px) {
    width: auto;
  }
}

.filterBtnCategories {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
}
.categoriesbtn {
  cursor: pointer;
  background-color: getColor('light-blue');
  border: none;
  border-radius: 40px;
  color: getColor('full-blue');
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 35px;
  transition: background-color 250ms ease;
  &:hover {
    background-color: #daeaf8;
  }
}
