@import '../../../../styles//styles.scss';

.btn {
  display: block;
  height: 40px;
  border: 2px solid getColor('full-yellow');
  border-radius: 40px;
  color: getColor('full-white');
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: calc(22 / 16);
  cursor: pointer;
  transition: background 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.login {
  width: 165px;
  background: getColor('full-yellow');
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;

  @media (min-width: 768px) {
    margin-right: 20px;
    margin-bottom: 0;
  }
  &:hover,
  &:focus {
    background-color: getColor('full-white');
    color: getColor('full-yellow');
    svg {
      transition: fill 0.3s linear;
      fill: getColor('full-yellow');
    }
  }
}

.register {
  width: 165px;
  background-color: transparent;

  color: getColor('full-yellow');
  @include media-min('tablet') {
    width: 142px;
  }

  &:hover,
  &:focus {
    background-color: getColor('full-yellow');
    color: getColor('full-white');
  }
}

.login:hover .paw,
.login:focus .paw {
  fill: getColor('full-yellow');
}
