@import '/src/styles/styles.scss';

.pets__card {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 16px 20px;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 20px;
  background: #ffffff;
  @media (min-width: 768px) {
    padding: 20px 20px;
    width: 703px;
    flex-direction: row;
    border-radius: 40px;
    min-height: 256px;
  }
  @media (min-width: 1280px) {
    padding: 20px 20px;
    width: 821px;
    min-height: 212px;
  }
}
.pets__image {
  margin-bottom: 20px;
  border-radius: 20px;
  @media (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 20px;
    width: 128px;
    height: 128px;
  }
  @media (min-width: 1280px) {
    margin-right: 32px;
    width: 161px;
    height: 161px;
  }
}
.text {
  @include main-font(400, 14px, 1.36);
  max-width: 240px;
  //   word-break: break-all;
  // word-wrap: break-word;
  // -moz-hyphens: auto;
  // -webkit-hyphens: auto;
  // -ms-hyphens: auto;
  @media (min-width: 768px) {
    @include main-font(400, 14px, 1.28);
    max-width: 515px;
  }
  @media (min-width: 1280px) {
    @include main-font(400, 16px, 1.36);
    max-width: 580px;
  }
}

.text:not(:last-child) {
  margin-bottom: 12px;
  @media (min-width: 768px) {
    margin-bottom: 16px;
  }
}
span {
  @include main-font(700, 14px, 1.36);
  @media (min-width: 768px) {
    @include main-font(600, 14px, 1.28);
  }
  @media (min-width: 1280px) {
    @include main-font(600, 16px, 1.36);
  }
}
.trash__icon {
  width: 24px;
  height: 24px;
  stroke: getColor('full-blue');
  fill: transparent;
  cursor: pointer;
}
.trash__name {
  display: flex;
  justify-content: space-between;
  @media (min-width: 768px) {
    width: 515px;
    justify-content: space-between;
  }
  @media (min-width: 1280px) {
    width: 580px;
    justify-content: space-between;
  }
}

.modalContent {
  height: 352px;
}

.modalTitle {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(38 / 28);
  letter-spacing: -0.01em;

  margin: 60px 160px 40px;
  text-align: center;

  color: #000000;
}

.modalText {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  letter-spacing: -0.01em;

  margin: 0 110px 50px;
}

.buttonList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn {
  display: block;
  width: 130px;
  height: 40px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}
