@import '../../../styles/styles.scss';

.go_to_profile {
  display: flex;
  justify-content: space-between;
  width: 248px;
  height: 40px;
  border-radius: 40px;
  color: getColor('full-white');
  background-color: #54adff;
  @include main-font(700, 16px, 22px, normal);
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
  padding: 8px 54px;
}
svg {
  fill: getColor('full-white');
}
