@import '../../styles/styles.scss';

.item {
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 0px 0px 40px 40px;
  background-color: #ffffff;
  position: relative;

  @include media-min(tablet) {
    max-width: 336px;
  }

  @include media-min(desktop) {
    max-width: 288px;
  }
}

.category {
  width: 126px;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 0px 16px 16px 0px;
  justify-content: center;
  position: absolute;
  top: 16px;
  left: 0;
  background-color: getColor('light-blue');
}

.categoryText {
  @include main-font(500, 14px, calc(19 / 14));
}

.userBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 12px;
  color: getColor('full-blue');
  background-color: getColor('light-blue');
}

.favorite {
  top: 12px;
}

.delete {
  top: 68px;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: getColor('full-blue');
  fill: transparent;
}

.img {
  width: 280px;
  height: 288px;

  @include media-min(tablet) {
    width: 336px;
  }

  @include media-min(desktop) {
    width: 288px;
  }
}

.wrapper {
  display: flex;
  gap: 12px;
  position: absolute;
  top: 248px;
  left: 8px;

  @include media-min(tablet) {
    gap: 24px;
    left: 24px;
  }

  @include media-min(desktop) {
    gap: 12px;
    left: 12px;
  }
}

.box {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 28px;
  padding: 2px 4px;
  border-radius: 16px;
  background-color: getColor('light-blue');

  &:hover {
    color:#ffffff;
    background-color: getColor('full-blue');
  }
}

.info {
  pointer-events: none;
  color: inherit;
  @include main-font(600, 12px, calc(16 / 12));

  // &:hover {
  //   color: #ffffff;
  // }
}

.infoIcon {
  pointer-events: none;
  stroke: currentColor;
  // &:hover {
  //   stroke: #ffffff;
  // }
}

.title {
  width: 231px;
  margin-left: 20px;
  @include main-font(700, 24px, calc(33 / 24));
}

.btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  width: 248px;
  padding: 7px 28px;
  border: 2px solid getColor('full-blue');
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  color: getColor('full-blue');
  background-color: inherit;
  @include main-font(600, 16px, calc(22 / 16));

  &:hover {
    color: #ffffff;
    background: linear-gradient(290.46deg, #419ef1 0%, #9bd0ff 107.89%);
  }
}
