@import '/src/styles/styles.scss';

.registration-form {
  background: #ffffff;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 20px;
  width: 280px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @include media-min(tablet) {
    width: 608px;
  }

  h1 {
    @include main-font(500, 24px, 33px, normal);
    display: flex;
    align-items: center;
    text-align: center;
    color: #111111;
    margin-bottom: 40px;

    margin-top: 60px;
    @include media-min(tablet) {
      @include main-font(500, 36px, 33px, normal);
    }
  }

  form {
    width: 100%;

    div {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;

      //   label {
      //     margin-bottom: 5px;
      //   }

      .input-icon {
        position: relative;
        display: flex;
        align-items: center;

        input {
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 12px 16px;
          gap: 10px;
          width: 256px;
          height: 48px;
          border: 1px solid #54adff;
          border-radius: 40px;
          @include main-font(400, 16px, 24px, normal);
          //   line-height: 150%;
          display: flex;
          align-items: center;
          letter-spacing: 0.04em;
          color: #111111;
          outline: transparent;

          &::placeholder {
            color: #888888;
          }

          &:hover,
          &:focus {
            border: 1px solid orange;
          }

          @include media-min(tablet) {
            width: 458px;
            gap: 42px;
          }
        }

        .icon {
          position: absolute;
          right: 10px;
          color: #54adff;
          top: 10px;
          cursor: pointer;

          @include media-min(tablet) {
            right: 75px;
          }

          .iconClose {
            color: red;
          }
        }
      }
    }
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 28px;
    width: 256px;
    height: 48px;
    position: absolute;
    left: 4%;
    top: 70%;
    bottom: 19.3%;
    background: #54adff;
    outline: none;
    border: transparent;
    border-radius: 40px;
    color: #ffffff;
    @include main-font(400, 16px, 22px, normal);
    margin-top: 40px;
    cursor: pointer;

    @include media-min(tablet) {
      width: 458px;
      left: 12%;
      margin-top: 42px;
    }
  }

  p {
    @include main-font(400, 12px, 16px, normal);
    margin-top: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #888888;
    // margin-bottom: 40px;
  }

  a {
    @include main-font(400, 12px, 16px, normal);
    color: #54adff;
    margin-left: 5px;
  }
}

// h2 {
//   @include main-font(500, 16px, 22px, normal);
//   color:#111111;
//   margin-top: 30px;
//   margin-bottom: 40px;
// }
// .btn-icon{
// fill:#ffffff;
// width: 24px;
// height: 24px;
// position: absolute;
// width: 24px;
// height: 20.97px;
// left: 5.56px;
// top: -2.59px;

// transform: rotate(25deg);
// }

// .modalDiv{
//   width:608px;

// }

.modalH1 {
  @include main-font(500, 24px, 33px, normal);
  text-align: center;
  color: #111111;
  margin-top: 60px;
  @include media-min(tablet) {
    @include main-font(500, 36px, 33px, normal);
  }
}

.modalP {
  @include main-font(500, 24px, 33px, normal);
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: black;
}

.modalBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  width: 256px;
  height: 48px;
  // position: absolute;
  // left: 4%;
  // top: 70%;
  // bottom: 19.3%;
  background: #54adff;
  outline: none;
  border: transparent;
  border-radius: 40px;
  color: #ffffff;
  @include main-font(400, 16px, 22px, normal);
  // margin-top: 40px;
  margin-bottom: 60px;
  cursor: pointer;
}

.modalIcon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-left: 12px;
  // position: absolute;
  width: 24px;
  height: 20.97px;
  left: 5.56px;
  top: -2.59px;

  transform: rotate(25deg);
}

.errorMessage {
  color: red;
}
