@import '/src/styles/styles.scss';

.registration-form {
  background: #ffffff;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 20px;
  width: 280px;
  height: 441px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h1 {
    h1 {
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 33px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #111111;
      margin-bottom: 20px;
    }
  }

  form {
    width: 100%;

    div {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 5px;
      }

      .input-icon {
        position: relative;
        display: flex;
        align-items: center;

        input {
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 12px 16px;
          gap: 10px;
          width: 100%;
          height: 48px;
          border: 1px solid #54adff;
          border-radius: 40px;
          font-family: 'Manrope', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          display: flex;
          align-items: center;
          letter-spacing: 0.04em;
          color: #111111;

          &::placeholder {
            color: #888888;
          }
        }

        .icon {
          position: absolute;
          right: 10px;
          pointer-events: none;
        }
      }
    }
  }

  button[type='submit'] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 28px;
    gap: 10px;
    position: absolute;
    // left: 10%;
    // right: 10%;
    // top: 72.71%;
    // bottom: 19.3%;
    background: #54ADFF;
    outline: none;
    border: transparent;
    border-radius: 40px;
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  p {
    margin-top: 20px;
  }
}
