.overlay {
  @media screen and (min-width: 320px) and (max-width: 767.9px) {
    top: 60px;
    height: 100vh;
    background-color: rgba(43, 43, 43, 0.6);
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(43, 43, 43, 0.6);
  z-index: 1200;
}

.modal {
  @media screen and (min-width: 320px) and (max-width: 767.9px) {
    position: relative;
    display: block;
    width: 320px;
    border-radius: 0px;
    padding: 20px 20px 37px 20px;
  }

  width: 540px;
  min-height: 508px;
  padding: 40px 73px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #ffffff;
  position: relative;
}

.button {
  @media screen and (min-width: 320px) and (max-width: 767.9px) {
    display: none;
  }

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 11px;
  right: 11px;
  width: 34px;
  height: 34px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 200ms;

  &:hover,
  &:focus {
    background-color: #ececec;
  }
}
