@import '../../styles/styles.scss';

.newsSection {
  padding-top: 40px;

  @include media-min(tablet) {
    padding-top: 80px;
  }
}
.newsMainTitle {
  text-align: center;

  @include media-min(tablet) {
    @include main-font(700, 48px, calc(66 / 48));
  }
}

.newsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  row-gap: 44px;
  column-gap: 32px;

  padding-top: 24px;
  margin-bottom: 20px;

  @include media-min(tablet) {
    margin-bottom: 60px;
    padding-top: 20px;
    row-gap: 46px;
  }

  @include media-min(desktop) {
    padding-top: 42px;
    column-gap: 31px;
  }
}

.newsItem {
  position: relative;
  width: 280px;
  height: 578px;

  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 20px;

  @include media-min(tablet) {
    width: 336px;
    height: 556px;
  }

  @include media-min(desktop) {
    width: 395px;
    height: 534px;
  }
}

.newsItem::before {
  content: '';
  width: 100%;
  height: 8px;
  position: absolute;
  top: -20px;

  background: linear-gradient(
    290.46deg,
    getColor('gr-blue-start') 0%,
    getColor('gr-blue-end') 107.89%
  );
  border-radius: 40px;

  @include media-min(tablet) {
    top: -22px;
  }
}

.newsImage {
  width: 100%;
  height: 252px;

  margin-bottom: 16px;

  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.newsTextBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 298px;
  padding: 0 12px;

  @include media-min(tablet) {
    height: 276px;
  }

  @include media-min(desktop) {
    height: 254px;
  }
}

.newsTitle {
  margin-bottom: 16px;

  @include main-font(700, 24px, calc(33 / 24));

  letter-spacing: -0.01em;
}

.newsText {
  @include main-font(400, 16px, calc(22 / 16));
}

.dateLinkBox {
  display: flex;
  justify-content: space-between;
}

.newsDate {
  color: #888888;
}

.newsLink {
  color: getColor('full-blue');
}

.noteFound {
  text-align: center;
}

.noteFoundText {
  margin-bottom: 80px;
  @include main-font(700, 24px, calc(33 / 24));
}

.noteFoundImg {
  margin: 0 auto;
}
