@import '/src/styles/styles.scss';
.list {
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.notFound {
  text-align: center;
}

.notFoundText {
  margin-bottom: 30px;
  @include main-font(500, 20px, 30px);
}
