@import '/src/styles/styles.scss';

h1 {
    @include main-font(500, 24px, 33px, normal);
    text-align: center;
    color: #111111;
    margin-top: 60px;
    @include media-min(tablet) {
      @include main-font(500, 36px, 33px, normal);
    }
  }
  
 p{
    @include main-font(500, 24px, 33px, normal);
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: black;
  }
  
  .modalBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 28px;
    width: 256px;
    height: 48px;
    // position: absolute;
    // left: 4%;
    // top: 70%;
    // bottom: 19.3%;
    background: #54adff;
    outline: none;
    border: transparent;
    border-radius: 40px;
    color: #ffffff;
    @include main-font(400, 16px, 22px, normal);
    // margin-top: 40px;
    margin-bottom: 60px;
    cursor: pointer;
  }
  
  .modalIcon {
    fill: #ffffff;
    width: 24px;
    height: 24px;
    margin-left: 12px;
    // position: absolute;
    width: 24px;
    height: 20.97px;
    left: 5.56px;
    top: -2.59px;
  
    transform: rotate(25deg);
  }
  