.logo {
  z-index: 111;

  @media (max-width: 767px) {
    max-width: 116px;
  }

  @media (max-width: 1279px) {
    flex-basis: 100%;
  }

  @media (min-width: 1280px) {
    margin-right: 159px;
  }
}
